<mat-toolbar color="primary">
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <span class="material-icons" (click)="loggingOut()">
      logout
    </span>
  </button>
</mat-toolbar>

<div style="padding-left: 25px;">
  <h1>Directorio de Empleados</h1>

  <!-- <form [formGroup]="loginForm" (submit)=checkLogin()> -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar...</mat-label>
      <input matInput>
    </mat-form-field>
  <!-- </form> -->  
</div>



<div class="cards-container">
  <mat-card *ngFor="let employee of myList">
    <span class="material-icons">
      {{employee.pic}}
    </span>
    <div>
      <h3>{{employee.lastName + ',' + ' ' + employee.name}}</h3>
      <p>{{employee.jobTitle}}</p>
      <p>{{employee.phoneNumber}}</p>
      <p>{{employee.email}}</p>
    </div>
  </mat-card>
</div>
